:root {
    --site-font: Roboto, Helvetica, sans-serif;

    /* Dark Mode Colors */
    --main-color-dark: rgb(18, 18, 18);
    --secondary-color-dark: rgb(12, 12, 12);
    --primary-minor-dark: rgb(225, 225, 225);
    --secondary-minor-dark: rgb(127, 127, 127);
    --third-minor-dark: rgba(246, 5, 47, 0.73);
    --btn-secondary-dark: rgb(227, 227, 227);
    --btn-primary-dark: rgb(18, 18, 18);
    --lighter-gray: rgb(231, 231, 231);
    --dark: rgb(0, 0, 0);



    /* Light Mode Colors */
    --main-color-light: rgb(255, 255, 255);
    --secondary-color-light: rgb(247, 248, 248);
    --primary-minor-light: rgb(119, 129, 138);
    --secondary-minor-light: rgb(231, 231, 231);
    --third-minor-light: rgba(246, 5, 47, 0.73);
    --btn-secondary-light: rgb(227, 227, 227);
    --btn-primary-light: rgb(255, 255, 255);
    --dark: rgb(0, 0, 0);
}


html::-webkit-scrollbar {
    height: 10px;
    margin-top: 10px;
    margin-bottom: 30p;
}

html::-webkit-scrollbar-thumb {
    background: var(--secondary-color-dark);
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background: var(--primary-minor-dark);
    border-radius: 10px;
}


/* Page Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--site-font);

}

body {
    background-color: var(--main-color-dark);

}

img {
    width: 100%;
}


/* Main */

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Header */

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    column-gap: 30px;
    background-color: var(--secondary-color-dark);
    box-shadow: 0px 9px 19px -3px var(--secondary-minor-dark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.logo {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hamburger-menu {
    height: 20px;
    display: none;
    cursor: pointer;
}

.hamburger-menu i {
    font-size: 1.5rem;
    color: var(--primary-minor-dark);
}

.fa-magnifying-glass {
    position: relative;
    color: var(--main-color-light);
    right: 35px;
}


.logo img {
    /* width: 40%; */
    height: 80%;

}

.header-container form {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-container input {
    width: 95%;
    border-radius: 30px;
    height: 35px;
    padding: 10px;
    border: none;
    background-color: var(--secondary-minor-dark);
    color: var(--primary-minor-dark);
}

.header-container input:focus {
    outline: none;
}


/* Banner */

.movie-section-container {
    margin-top: 105px;
    width: 82vw;
    z-index: -3;
}

.category-banner {
    text-align: center;
    height: 120px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(90deg, var(--main-color-dark) 33%, var(--primary-minor-dark) 95%);
    margin: 0 auto;
}

h1 {
    color: white;
    text-shadow: -3px 2px 3px var(--third-minor-dark);
    font-size: 3rem;
}

/* Catergory Buttons Container */

.btn-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.btn {
    width: 100px;
    border-radius: 10px;
    border: none;
    transition: all .3s ease-in-out;
    background-color: var(--btn-primary-dark);
    color: var(--btn-secondary-dark);
    padding: 5px 0;
}

.btn:hover {
    background-color: var(--btn-secondary-dark);
    color: var(--dark);
}

.category-header-title {
    font-size: 2rem;
    text-align: center;
}

.category-container {
    position: fixed;
    margin-top: 77px;
    left: 0;
    height: 999vh;
    background-color: var(--secondary-color-dark);
    width: 180px;
    box-shadow: 10px 0px 9px -5px rgb(127 127 127 / 78%);
    z-index: -1;
}

.movies-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 35px;
    justify-content: center;
    column-gap: 30px;
    row-gap: 130px;
}

.movie-card-filter {
    opacity: 1;
    background-color: var(--dark);
    transition: all .3s ease-in-out;
    border-radius: 5px;
    color: var(--third-minor-dark);
    width: 177px;
    height: 220px;
    box-shadow: 01px -10px 9px -5px rgba(127, 127, 127, 0.78);
}

.movie-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: var(--main-color-dark);
}

.movie-card-filter:hover {
    opacity: .8;
}

.info {
    display: flex;
    flex-direction: column;
    column-gap: 5px;

}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
    color: var(--lighter-gray);
}

.platform {
    border: solid 1px var(--third-minor-dark);
    border-radius: 2px;
    padding: 1px;
    text-align: center;
    width: 40px;
}

.year-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.year-date>span {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}


.rating,
.rating i {
    color: var(--btn-secondary-dark);
}

.poster {
    height: 220px;
    width: 177px;
}

.rating {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    padding: 5px;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), var(--secondary-minor-dark));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



.movie-name {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--third-minor-dark);
    /* justify-content: center;
    align-items: left; */
    background-color: var(--main-color-dark);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
}


/* Media Queries */

@media (max-width: 433) {
    .movies-container {
        row-gap: 100px;
    }
}

@media (max-width: 900px) {
    .hamburger-menu {
        display: block;
    }

    .category-container {
        display: none;
    }

    .header-container form {
        width: 250px;
    }

    .movie-section-container {
        width: 100vw;
    }



    /* .fa-magnifying-glass{
        right: 175px;
    } */
}


/* Search Placeholder color */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--primary-minor-dark);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--primary-minor-dark);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--primary-minor-dark);
}